* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 微软雅黑;
	background-color: #ACDEF7;
}

a,
img,
button,
input,
textarea,
div {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input, textarea {
	-webkit-appearance: none;
}

img {
	width: 100%;
}

/*swiper-wrapper版面滑动的样式*/
.swiper-wrapper {
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	-ms-perspective: 1200px;
	perspective: 1200px;
}

.swiper-slide {
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	background-size: 100% auto;
	overflow: hidden;
	text-align: center;
	line-height: 300px;
}

.swiper-slide img {
	max-width: 100%;
}


/*版面滑动指示小图标样式*/
.u-arrow-bottom {
	position: absolute;
	top: 5.65rem;
	left: 50%;
	z-index: 150;
	width: 80px;
	height: 30px;
	margin-left: -40px;
}

.pre-wrap-bottom {
	width: 80px;
	height: 30px;
	position: relative;
	-webkit-animation: start 1.5s infinite ease-in-out;
	animation: start 1.5s infinite ease-in-out;
}

.pre-box1,.pre-box2 {
	height: 30px;
	width: 40px;
	position: absolute;
	top: -5px;
	overflow: hidden;
}

.pre-box2 {
	left: 40px;
}

.pre1 {
	transform: rotate(150deg);
	-webkit-transform: rotate(150deg);
	left: -2px
}

.pre1,.pre2 {
	background-color: #EFB718;
	width: 50px;
	height: 5px;
	border-radius: 2px;
	position: absolute;
	/*box-shadow: 1px -1px 1px #646464;*/
	top: 12px
}

.pre2 {
	left: -10px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg)
}


@-webkit-keyframes start {
	0%,30% {
		opacity: 0;
		-webkit-transform: translateY(20px)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate(0)
	}

	to {
		opacity: 0;
		-webkit-transform: translateY(-12px)
	}
}

@keyframes start {
	0%,30% {
		opacity: 0;
		transform: translateY(20px)
	}

	60% {
		opacity: 1;
		transform: translate(0)
	}

	to {
		opacity: 0;
		transform: translateY(-12px)
	}
}

/*首页展示页样式*/
.g-index,
.g-rule {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.g-rule {
	display: none;	
}

.g-index img,
.g-rule img {
	display: block;
}

.g-index > div,
.g-rule > div {
	position: relative;
}

.return-btn {
	position: absolute;
	top: 5rem;
	left: 50%;
	margin-left: -.3rem;
	width: .6rem;
	height: .8rem;
	background: url(../img/10.png) no-repeat;
	background-size: contain;
}
/*按钮页面*/
.btn-wrap {
	position: absolute;
	width: 100%;
	overflow: hidden;
	left: 0;
	top: 4.4rem;
	line-height: 10px;
}

.btn-wrap > div {
	display: inline-block;
	width: 50%;
	float: left;
}

.btn-wrap img {
	width: 0.4rem;
	margin-bottom: 4px;
}

.btn-wrap p {
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}
#mask{
	position:fixed;
	left:0;
	top:0;
	height:100vh;
	width:100vw;
	background:#000;
	opacity:0.75;
	filter:alpha(opacity=100);
	z-index:8888;
}