/*部分样式重置*/
a,body {
    color: #051b28
}

blockquote,body,dd,dir,dl,fieldset,figure,h1,h2,h3,h4,h5,h6,hr,input[type=radio],input[type=checkbox],input[type=range],listing,menu,ol,p,plaintext,pre,ul,xmp {
    margin: 0
}

button,dir,fieldset,input,input[type=radio],input[type=reset],input[type=checkbox],input[type=range],input[type=password],input[type=search],input[type=hidden],input[type=image],input[type=file],input[type=button],input[type=submit],isindex,legend,menu,ol,textarea,ul {
    padding: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}

address,cite,dfn,em,i,var {
    font-style: normal
}

a:-webkit-any-link {
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a img,fieldset,iframe {
    border: none
}

ol,ul {
    list-style: none
}

button,input,select,textarea {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: 0
}

button,input,select {
    color: inherit
}

html {
    -webkit-text-size-adjust: none;
    font-size: 100px
}

body {
    font: .12rem/1.5 helvetica;
   background: #FFFFFF;
}

a {
    text-decoration: none
}

/*s-header 顶部固定栏*/
#s-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
}

#s-header {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: #464246;
}

.nav-header > div {
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    height: 41px;
    line-height: 41px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

#s-header .back {
	position: relative;
}

.head-back {
	font-size: 30px;	
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -15px;
}

/*主体内容*/
#content {
	padding-bottom: 40px;	
	/*background: #B3B3B3;*/
}


/*s-footer 底部固定栏*/
#s-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
}

#s-footer {
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 40px;
}



