/*首页*/
html {
	height: 100%;
}

body {
	height: 100%;
	background: #FFFFFF;
}

img {
	width: 100%;	
}

.mui-content {
	background: #FFFFFF;	
}

.mui-popup {
	position: fixed;	
}

/*修改底部导航的样式*/
.mui-bar-tab .mui-tab-item {
	border-radius: 5px;
	color: #494949;
	font-size: 14px;
}

.mui-bar-tab .mui-tab-item.mui-active {
	color: #572844;
	background: #FCCDE9;
}

.mui-popup-title {
	/*display: none;*/	
}

.mui-popup-title+.mui-popup-text {
	margin-top: 0;
	font-size: 16px;
}
.mui-popup-button.mui-popup-button-bold {
	font-weight: normal;
}

.mui-popup-button {
	font-size: 16px;
	height: 38px;
	line-height: 38px;	
}

.m-bar {
	position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.m-bar-tab {
	bottom: 0;
    display: flex;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    -webkit-touch-callout: none;
}

.m-bar-tab .m-tab-item {
	flex-grow: 1;
    overflow: hidden;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
}

.m-bar-tab .m-tab-item.join-btn {
	width: 50%;
}

.m-bar-tab .m-tab-item.join-btn .join-btn-text {
	display: inline-block;
	line-height: 50px;
	width: 100%;
	height: 100%;
	font-size: 18px;
	color: #FFFFFF;
	background: #F09BAD;
	font-size: 16px;
}


.m-bar-tab .m-tab-item {
    color: #727171;
    font-size: 14px;
    width: 25%;
}

.m-bar-tab~.mui-content {
    padding-bottom: 50px;
}

.m-tab-item i {
	display: inline-block;
	top: 6px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: Muiicons;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    position: relative;
    z-index: 20;
}

.join-btn-text i {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(https://img.sumeils.com/uploads/201707/20170710155120549.png) no-repeat;
	background-size: contain;
	margin-right: 6px;
	position: relative;
	top: 10px;
	left: 0;
}

.m-tab-label {
	font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
    line-height: 18px;
}

.m-bar-tab .m-tab-item.m-active .m-tab-label{
	color: #F09BAD;
    /*background: #FCCDE9;*/
}

.m-tab-item i.event_detail_icon {
	background: url(https://img.sumeils.com/uploads/201707/20170709114825676.png) no-repeat;
    background-size: cover;
}

.m-tab-item i.study_icon {
	background: url(https://img.sumeils.com/uploads/201707/20170709114947215.png) no-repeat;
    background-size: cover;
}

.m-tab-item i.buy_icon {
	background: url(https://img.sumeils.com/uploads/201707/20170710135447495.png) no-repeat;
    background-size: cover;
}

.m-tab-item i.mine_icon{
	background: url(https://img.sumeils.com/uploads/201707/20170709115011199.png) no-repeat;
    background-size: cover;
}

.m-tab-item.m-active i.event_detail_icon {
	background: url(https://img.sumeils.com/uploads/201707/20170709115123131.png) no-repeat;
    background-size: cover;
}

.m-tab-item.m-active i.study_icon {
	background: url(https://img.sumeils.com/uploads/201707/20170709115135895.png) no-repeat;
    background-size: cover;
}

.m-tab-item.m-active i.buy_icon {
	background: url(https://img.sumeils.com/uploads/201707/20170709115146213.png) no-repeat;
    background-size: cover;
}

.m-tab-item.m-active i.mine_icon{
	background: url(https://img.sumeils.com/uploads/201707/20170709115156290.png) no-repeat;
    background-size: cover;
}

.unlog .favor,
.unlog .me {
	display: none;
}

.banner a {
	width: 100%;
	display: inline-block;	
}

.banner img {
	width: 100%;
	border: none;
	vertical-align: middle;
}


/*活动简介页面*/
.event-bg > div {
	line-height: 5px;
}

.btn-wrap {
	position: relative;
}

.rule-btn {
	position: absolute;
	top: 0.17rem;
	right: 0.25rem;
	width: 0.95rem;
	height: 0.27rem;
	background: url(https://img.sumeils.com/uploads/201707/20170712140728918.png) no-repeat;
	background-size: contain;
}

.game-btn {
	position: absolute;
	top: 0.54rem;
	right: 0.05rem;
	width: 0.85rem;
	height: 0.25rem;
	background: url(https://img.sumeils.com/uploads/201707/20170712140752764.png) no-repeat;
	background-size: contain;
}

/*精彩内容页面*/
.event-list {
	/*padding: 0 10px;*/
}

.event-item {
	overflow: hidden;
	padding-top: 4px;
	padding-bottom: 5px;
	margin: 0 10px;
	border-bottom: 1px solid #e0e0e0;
}

.day-list .event-item:last-child {
	border: 0;
}

.day-list .title {
	color: #FFFFFF;
	background: #F09BAD;	
	padding-left: 18px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}

.event-item > a {
	color: #000;	
}

.event-item > a > div {
	float: left;
	height: 0.6rem;
}

.event-item > a > div.e-text {
	height: auto;	
}

.e-icon {
	width: 0.6rem;
}

.e-icon > div {
	width: 100%;
	height: 100%;
	padding: 0.08rem;
}

.e-text {
    width: 2.2rem;
    /* padding-left: 10px; */
    font-size: 3.5vw;
    padding: 0.06rem;
}

.e-title{
    margin-top: 0.06rem;
}


.e-text > div {
	/* line-height: 0.3rem;	 */
}

.event-item > div.e-btn {
	float: right;
}

.e-btn {
	height: 0.6rem;
	width: 0.7rem;	
}

.e-btn > div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.e-btn button {
	width: 0.7rem;
	font-size: 12px;
	padding: 6px 0;
	transition: none;
}

.e-btn button.active {
	color: #fff;
    background-color: #CCCCCC;	
}


/*我要参加页面*/
.join {
	height: 100%;
	background: #FFFFFF;
	position: fixed;
	width: 100%;
}

.join-bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.join-qcode {
	position: absolute;
	top: 2.25rem;
	width: 100%;
	text-align: center;
}

.join-qcode img {
	width: 60%;
}

/*我的 页面*/

.my-page > div {
	padding: 0.18rem 0.15rem;	
	padding-bottom: 0.1rem;
	border-bottom: solid 8px #EEEEEE;	
	overflow: hidden;
	color: #292929;
	background: #FFFFFF;
}

.my-page > div:last-child {
	border: 0;
}

.my-page > div .title {
	text-align: left;
	font-size: 16px;
	line-height: 30px;
	font-weight: 600;	
	border-bottom: solid 1px #EDEDED;
}

.my-page > div .title > span {
	float: left;
	width: 24px;
	height: 24px;
	margin-top: 3px;
	margin-right: 6px;
	background: url(https://img.sumeils.com/uploads/201707/20170709134905345.png);
	background-size: cover;
}

.my-page > div .title > i {
	font-style: normal;
	font-weight: 100;
	float: right;
	padding-right: 20px;
	color: #575A63;	
}

.my-page > div .title > i span {
	padding-left: 5px;
}

.my-page > div.my-coin .title > span {
	background: url(https://img.sumeils.com/uploads/201707/20170709134919633.png);
	background-size: cover;
}

.my-page > div.my-order .title > span {
	background: url(https://img.sumeils.com/uploads/201707/20170709134938605.png);
	background-size: cover;
}

.my-page > div.my-friend .title > span {
	background: url(https://img.sumeils.com/uploads/201707/20170710112614436.png);
	background-size: cover;
}

.my-page > div.my-info {
	padding-bottom: 0.18rem;
}

.my-info div {
	float: left;
	text-align: center;
	font-size: 6vw;
}

.user-icon {
	width: 0.65rem;
    height: 0.65rem;
	text-align: center;
}

.user-icon img {
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 50%;
	object-fit: cover;
}

.user-name {
	width: 2.4rem;
	height: 0.65rem;
	padding-left: 0.2rem;
	display: flex;
	align-items: center;
	font-size: 0.2rem;
}

.my-info .user-order {
	text-align: right;
	padding-right: 10px;
}

.my-info .user-order a {
	text-decoration: underline;
}

/*我的勋章*/
.m-item {
	padding-top: 8px;
	overflow: hidden;
    font-size: 4vw;
    padding-left: 20px;
}
.m-item > div {
	float: left;	
}

.m-icon {
	width: 0.4rem;
    height: auto;
}

.m-icon img {
	width: 100%;
	height: 100%;
}

.m-text {
	height: 0.4rem;
	display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.3rem;
	font-size: 4vw;
    padding-left: 20px;
}

.m-ex {
	width: 100%;
	padding-left: 0.7rem;
	font-size: 14px;
}

.m-detail {
	display: inline-block;
	padding-left: 40px;
}

.m-detail a {
	padding-left: 0.4rem;
	font-size: 4vw;
}
/*我的金币*/
.coin-item {
	padding: 8px 0;	
	border-bottom: solid 1px #EDEDED;
    font-size: 4vw;
}

.coin-item:first-child {
	font-weight: 600;
}

.coin-item > div {
    display: inline-block;
}
.c-text {
	width: 1.8rem;
	padding-left: 30px;
    text-align: left;
}
.c-point {
	width: 0.6rem;
	padding-left: 5px;
    text-align: center;
}
.c-action {
	width: 0.9rem;
    text-align: center;
}
.c-action > a {
	font-weight: 100;
	display: inline-block;
	border: solid 1px #BBBBBB;
	background: #FFFFFF;
	color: #575A63;
	width: 70px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	line-height: 28px;
	border-radius: 8px;
	cursor: pointer;
}

.c-action > a.active {
	color: #fff;
    background-color: #CCCCCC;	
}

/*我的订单*/
.order-item {
	padding-top: 10px;
	border-bottom: solid 1px #EDEDED;
    font-size: 4vw;
    padding-bottom: 10px;
}

.o-num {
    padding: 5px 30px;
}

.o-info {
	height: 32px;
	line-height: 32px;	
}

.o-info > div {
	display: inline-block;
}

.o-info > div:first-child {
	width: 1.8rem;
    padding-left: 30px;
    text-align: left;
}

.o-info > div:last-child {
	width: 0.9rem;
    text-align: center;	
}

.o-status {
	width: 0.6rem;
    padding-left: 5px;
    text-align: center;
	color: green;	
}

.to-pay{
	color: #DD524D;
}

.o-info  a {
	font-weight: 100;
	display: inline-block;
	border: solid 1px #BBBBBB;
	background: #FFFFFF;
	color: #575A63;
	width: 70px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	line-height: 28px;
	border-radius: 8px;
	cursor: pointer;
}

.o-info  a.active {
	color: #fff;
    background-color: #CCCCCC;	
}

.o-btn {
	text-align: right;
}

.o-msg {
	text-align: center;
	color: #666;
	font-size: 16px;
	line-height: 30px;
}

/*邀请的好友*/

.f-item {
	overflow: hidden;
    padding: 4px 15px 4px 30px;
	border-bottom: solid 1px #EDEDED;
}

.f-item > div {
	height: 0.3rem;
}

.f-index {
	width: 0.7rem;
	display: flex;
    align-items: center;
    justify-content: center;
}

.f-icon {
	width: 0.4rem;
    padding-right: 0.1rem;
	float: left;
}

.f-icon img {
	width: 100%;
	height: 100%;
	border: 0;
}

.f-name {
	width: 1.2rem;
	display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    font-size: 3.6vw;
    line-height: 3.6vw;
	float: left;
}

.f-time{
	display: flex;
    align-items: center;
    display: flex;
    align-items: center;
	font-size: 3.6vw;
	float: right
}

.more-friend {
	margin-top: 10px;
	text-align: center;
	color: #666;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	border: solid 1px #CCC;
}
